/******************************
[Table of Contents]
1. Variables
2. Generic Selectors
3. Theme
4. Showcase
5. Accordion
6. Animation Frames
7. Queries
 ******************************/

/********* Variables **********/
:root{
  /* Colors */
  --linkedin: #2867B2;
  --twitter: #1da1f2;
  --facebook: #4367b2;
  --instagram: #c13584;
  --github: #6e5494;
  --youtube: #ff0000;
  --medium: #00ab6c;

  /* Theme */
  --background: red;
  --background-alt: ;
  --text: ;
  --text-highlight: ;

  /* Monochrome */
  --dark0: #333;
  --dark1: #444;
  --light: #f4f4f4;
  }

/********** Generic Selectors **********/
/* Reset */
*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: var(--dark0, --background);
  margin: 0;
  color: #var(--light);
  font-family: 'Roboto Mono', sans-serif;
}

/* Hides Scroll Bar */
body::-webkit-scrollbar {
  width: 0rem;
}

footer {
  padding: .5rem;
}

ul{
  list-style: none;
}

/********* Theme **********/
.bg-light{
  background-color: var(--light);
  color: var(--dark0);
}

.bg-dark{
  background-color: var(--dark0);
  color: var(--light)
}

/********** Showcase **********/

/********* Accordion **********/

/********** Contact Form **********/
.contact-body{
  width: 100vw;
  height: 100vh;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light);
  line-height: 1.6;
  padding: 1em;
}

.contact-container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.brand{
  text-align: center;
}

.contact-wrapper{
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
}

.contact-wrapper > *{
  padding: 1em;
}

.contact-info{
  background-color: var(--light);
  color: var(--dark0);
}

.contact-info h3, .contact-info ul{
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-contact{
  background-color: var(--dark1);
}

.contact-contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-contact form label{
  display: block;
}

.contact-contact form p{
  margin: 0;
}

.contact-contact form .full{
  grid-column: 1 / 3;
}

.contact-contact form button, .contact-contact form input, .contact-contact form textarea{
  width: 100%;
  padding: .25em;
  border: 1px solid red;
}

.contact-contact form button{
  background: green;
  border: 0;
  text-transform: uppercase;
}
.contact-contact form button:hover, .contact-contact form button:focus{
  background: red;
  color:var(--light);
  outline: 0;
  transition: background-color 2s ease-out;
}
/********* Animation Frames **********/
@keyframes glow {
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}

/********** Queriers  **********/
@media(min-width: 700px){
  .contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .content-wrapper > *{
    padding: 2em;
  }

  .contact-info h3, .contact-body ul, .brand{
    text-align: left;
  }
}

@media (max-width: 560px){
  .showcase::after{
    height: 50vh;
  }

  .content{
    top: 5%;
    margin-top: 5px;
  }

  .content .logo{
    height:140px;
    width: 140px;
  }

  .content .text{
    display: none;
  }

  .grid-2,
  .grid-3,{
    grid-template-columns: 1fr;
  }

  .grid-4{
    display: none;
  }
  .skills div{
    border-bottom: red dashed 1px;
    padding: 1.2rem 1rem;
  }
}

@media(max-height: 500px){
  .content .title, 
  .content .text{
    display: none;
  }

  .content{
    top: 0%
  }
}

.showcase::after{
  content: "";
  height: 100vh;
  width: 100%;
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms; 
}

.showcase:hover .content{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.showcase:hover::after{
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.content{
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo{
  z-index: 1;
  height: 180px;
  width: 180px;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
  color: var(--light)
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
  color: var(--light);
}

.container{
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-2{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-3{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center{
  text-align: center;
  margin: auto;
}


.menu-wrap{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu-wrap .toggler{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;

}

.menu-wrap .hamburger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 30px;
  height: 30px;
  padding: 1rem;
  background: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .hamburger > div{
  position: relative;
  width: 100%;
  height: 2px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  animation: glow 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
  content: '';
  position: absolute;
  z-index: 2;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after{
  top: 10px;
}  

.menu-wrap .toggler:checked + .hamburger > div{
  transform: rotate(135deg);
}

.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
  top: 0;
  transform: rotate(90deg);
}

.menu-wrap .toggler:hover + .hamburger > div{
  transform: rotate(225deg);
} 

.menu-wrap .toggler:checked ~ .menu{
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(01);
  transition-duration: 0.75s ;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  content: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--dark0);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transition: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 90vw;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  color: var(--light);
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;

}

.accordion-container {
  display: flex;
  width: 100%;
  margin: 10px;
}

.accordion{
  background: var(--light);
  width: 100%;
  min-width: 880px;
  display: block;
  overflow: hidden;
  height: 200px;
  font-size: 0;
  grid-area: center;
}

.accordion-tab{
  display: inline-block;
  background-color: var(--dark1);
  border-right: var(--dark0) solid 1px;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.accordion-tab:hover{
  width: 450px;
}

.accordion-tab:hover .social a:before{
  margin-left: -100px;

}

.accordion-tab:hover .social a:after{
  margin-left: -5px;
  
}


.accordion-tab .accordion-content{
  background: var(--light);
  width: 360px;
  height: 200px;
  margin-left: 80px;
  position: relative;
  padding: 50px 0 0 15px;
}

.accordion-content > h1 {
  color: var(--dark0);
  font-size: 2.5rem;
  margin-bottom: 10px;
}
.accordion-content > h1 .linkedin {
  color: var(--linkedin);
}

.accordion-content > p {
  color: var(--dark0);
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}

.social a:before,
.social a:after{
  transition: all 0.4s ease-in-out 0.1s;
  width: 80px;
  height: 200px;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: 25px;
  display: block;
  font: normal 30px "Font Awesome 5 Brands";
  color: var(--light);
}

.social a:after{
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}

.linkedin a:before,
.linkedin a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f08c";
  
}

.linkedin a:after{
  background-color: var(--linkedin);
}

.twitter a:before,
.twitter a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f081";
  
}

.twitter a:after{
  background-color: var(--twitter);
}

.facebook a:before,
.facebook a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f082";
  
}

.facebook a:after{
  background-color: var(--facebook);
}

.instagram a:before,
.instagram a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
  
}

.instagram a:after{
  background-color: var(--instagram);
}

.github a:before,
.github a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f09b";
  
}

.github a:after{
  background-color: var(--github);
}

.youtube a:before,
.youtube a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f167";
  
}

.youtube a:after{
  background-color: var(--youtube);
}

.mediumblog a:before,
.mediumblog a:after{
  font-family: "Font Awesome 5 Brands";
  content: "\f3c7";
  
}

.mediumblog a:after{
  background-color: var(--medium);
}

.me, .code_img, .graham{
  height: 12rem;
  width: 12rem;
  border-radius: 30%;
  transition: all 0.5s;
}

.me:hover, .code_img:hover, .graham:hover{
  transform: rotate(15deg);
}

.fab:hover, .fas:hover{
  animation: glow 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: purple;
}

.footer-logo{
  padding: 2.5px;
  height: 25px;
}